<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
</head>
<body>
    <h1>Main Page</h1>
    <h3>
        <a href="http://127.0.0.1:5000/about-us">About us</a>
    </h3>
    <h3>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpro-cikave.com.ua%2Fcikavi-fakty-pro-sovu%2F&psig=AOvVaw19CwX6-K4Qbn5f1TGpG5Pf&ust=1705443898797000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCICJkOO34IMDFQAAAAAdAAAAABAa" alt="Image">
    </h3>
</body>
</html>
